<!-- datatable_base.html -->
{% load render_table from django_tables2 %}
{% load staticfiles %}

<!doctype html>

<html>
	<head>
		<title>Admin Page (Experimental)</title>
		<link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
		<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.1.0/css/buttons.dataTables.min.css">

		<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.1.0/js/dataTables.buttons.min.js"></script>
		
		<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.1.0/js/buttons.flash.min.js"></script>
		<script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
		<script type="text/javascript" charset="utf8" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
		<script type="text/javascript" charset="utf8" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.1.0/js/buttons.html5.min.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.1.0/js/buttons.print.min.js"></script>
				
		<script type="text/javascript" charset="utf8">
			$(document).ready( function () {
				$('#table_id').DataTable({
					"dom": '<"top"lfB>rt<"bottom"ip><"clear">',
			        "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
					"pagingType": "full_numbers",
					buttons: [
			            'copy', 'csv', 'excel', 'pdf', 'print'
			        ]
				});
			});
		</script>
	</head>
	<body>
	    <div class="page-header">
            {% block pagetitle %}
            {% endblock %}
	    </div>
	    <div class="page-content">
            {% block content %}
            {% endblock %}
	    </div>
	    <p></p>
	</body>
</html>